.row{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 50%;
    justify-content: center;
}

.inner-row{
    display: flex;
    flex-direction: row;
}

.column{
    flex-direction: column;
    max-width: 40%;
    padding: 1% 0% 0% 2%;
}

.column-label{
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2%;
    /*font-weight: bold;*/
}

.column-content{
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    color: #777777;
}

.profile-title{
    text-align: center;
    padding-left: 5%;
}

.row-detail{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    justify-content: center;
    padding-left: 4%;
}

.detail-title{
    padding-left: 2%;
}

.column-detail{
    flex-direction: column;
    width:50%;
}

.home-title{
    text-align: center;
}
